*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}
.main-box {
    width: 80%;
    height: 100vh;
    display:inline;
    align-items: center;
    justify-content: flex-start;
}
.contenido{
    zoom: 70%;
    margin: 20px 20px;
}
.calendar-box {
    width: 70%;
    display: grid;
    gap: 15px;
    border-radius: 60px;
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: repeat(7, 100px)
}
.box-celda {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 210, 0.38);
    border-radius: 100vh;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content:center;
    align-items: center;
}
.box-celda1 {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 210, 0.38);
    border-radius: 100vh;
    color: rgb(255, 4, 4);
    font-size: 2em;
    display: flex;
    justify-content:center;
    align-items: center;
}
.box-mes {
    background-color: rgba(92, 92, 239, 0.423);
    border-radius: 100vh;
    grid-column-start: 1;
    grid-column-end: 8;
    color: blue;
}
.img-fondo {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}
.box-1{
    grid-column-start: 3;
    grid-column-end: 4;
}
