* {
    padding: 0;
    margin: 0;
}

.fondo{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.main-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-style {
    width: 330px;
    background-color: rgb(242, 242, 242);
    padding-top: 0.5px;
    margin: 0px 40px;
}

.product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    cursor: pointer;
}
.add-cart:hover{
    background-color: rgba(0, 0, 0, 0.229);
}

.add-cart-1-color {
    background-color: rgb(240, 184, 185);
}

.add-cart-2-color {
    background-color: rgb(132, 41, 59);
}

.add-cart-3-color {
    background-color: rgb(57, 58, 60);
}

.product-text {
    text-align: center;
}

.product-text-span {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 64, 64, .9);
}

.text-description {
    color: rgb(64, 64, 64, .9);
    font-size: .8em;
}

.add-cart-1-span {
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
}

.estrellas {
    height: auto;
}

.fa-star {
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(252, 216, 14);
    cursor: pointer;
}

.price-tex {
    font-size: 2em;
    margin: 0px 0px 20px 0px;
    display: block;
}

.price-tex1-color {
    color: rgb(240, 184, 185);
    font-weight: bolder;
}

.price-tex2-color {
    color: rgb(132, 41, 59);
    font-weight: bolder;
}

.price-tex3-color {
    color: rgb(57, 58, 60);
    font-weight: bolder;
}