* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
}

.box-cont {
    background-color: rgba(220, 20, 60, 0.685);
    gap: 30px;
}
.box-1 {
    display: flex;
    flex-direction: column;
}
.box-2 {
    display: flex;
    flex-direction: row;
}
.box-3 {
    display: flex;
    flex-wrap: wrap;
}
.box-4 {
    display: flex;
    flex-wrap: nowrap;
}
.box-5 {
    display: flex;
    flex-direction: wrap;
}
.box-6 {
    display: flex;
    justify-content: space-evenly;
}
.box-7 {
    display: flex;
    justify-content: space-around;
}
.box-8 {
    display: flex;
    justify-content: space-evenly;
}
.box-9 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.box-10 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box-height {
    height: 600px;
    gap: 70px;
}
.box-height-box-11 {
    width: 400px;
    height: 300px;
    background-color: rgba(220, 20, 60, 0.336);
    padding: 10px;
}
.box-22 {
    width: 40px;
    background-color: wheat;
    margin-right: 20px;
    display: inline-block;
}
.box-gen {
    background-color: wheat;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1.8em;
    margin-right: 20px;
}
.box-main-wrap {
    gap: 20px;
    height: 280px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 70%;
    margin: 0 auto;
}
.box-gen-1:hover {
    position: relative;
    left: -50px;
}
h2 {
    color: white;
}
