* {
    margin: 0;
    padding: 0;
    background-color: black;
}
.main-box {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    background-color:black;
    justify-content: center;
    flex-direction: row;
    /*vh: view height */
    height: 100vh;
}
.box-style {
    width: 900px;
    margin: 0 70px;
    background-color: rgb(242, 242, 242);
}
.box-1 {
    border: 3px solid rgb(124, 252, 0);
    display: inline-block;
    height: 450px;
}
.box-2 {
    border: 3px dotted rgb(255, 20, 147);
    display: inline-block;
    height: 450px;
}
.box-3 {
    border: 3px dashed rgb(255, 165, 0);
    display: inline-block;
    height: 450px;
}
.box-4 {
    border: 3px double rgb(70, 130, 180);
    display: inline-block;
    height: 450px;
}
p {
    font-size: 1.4;
    text-align: justify;
    background-color: rgb(242, 242, 242);
}