* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item-style {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

nav ul {
    background-color: rgb(16, 103, 175);
    list-style: none;
    text-decoration: none;
    position: absolute;
    width: 100%;
}

nav>ul>li {
    width: 250px;
    float: left;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: center;
}
nav>ul li:hover {
    cursor: pointer;
    background-color: rgb(235, 102, 124);
}

li {
    position: relative;
}

nav li li {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

nav li:hover>ul>li {
    max-height: 250px;
    overflow: visible;
    border: 1px solid white;
    transition: all 0.5s;
    background-color: black;
    width: 380px;
}

#flecha {
    color: white;
    margin-left: 15px;
    font-size: 0.6em;
    margin-left: 20px;  
}

nav>ul>li:hover a #flecha {
    rotate: -180deg;
}
