* {
    margin: 0%;
    padding: 0%;
}

nav {
    width: 100%;
    background-color: darkcyan;
    font-family: fantasy;

}

ul {
    width: 100%;
    text-align: right;
    list-style: none;
}

li {
    display: inline-block;
    width: 250px;
    text-align: center;
    position: relative;
}

a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    line-height: 3em;
}

a:hover {
    background-color: rgba(252, 252, 252, 0.593);
    cursor: pointer;
}

.icon-style {
    margin-right: 10px;
    font-size: 0.90em;
}

.icon-sd {
    position: relative;
    left: 15px;
    top: 4px;    
}

.child-menu {
    position: absolute;
    display: none;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s;
}

.main-menu > li:hover .child-menu {
    position: absolute;
    display: block;
    overflow: visible; 
    max-height: 500px;
    background-color: darkcyan;
    transition: max-height 1s;
}

.box-hamburguer {
    display: none;

}

@media only screen and (max-width: 750px ){
   .box-hamburguer {
    width: 100%;
    height: 72px;
    position: fixed;
   }

   .main-menu {
    width: 100%;
    height: 100vh;
    text-align: left;

   }

   .main-menu > li {
    text-align: left;
   }

   .child-menu {
    position: relative;
    display: inline-block;
    color: wheat;
    font-size: 2em;
text-align: left;
   }
   
    nav {
    height: calc(100%-48px);
    width: 100%;
   }
}



