* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template: "logo menu" 1fr /
     350px    1fr;
}

.img-logo {
    cursor: pointer;
    display: flex;
    width: 120px;
    position: relative;
    left: 80px;
}

.style-box {
    display: flex;
    align-items: center;
}

.buscador {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    box-sizing: border-box;
}

.input-busqueda {
    cursor: pointer;
    height: 35px;
    width: 388px;
    display: flex;
    position: relative;
    left: 56.9%;
    border: 1px solid rgb(200, 200, 200);
    flex-direction: row;
}

input[type="text"].buscador {
    height: 35px;
    width: 300px;
    padding: 10px 20px;
    border: none;
}

.lupa {
    color: rgba(3, 3, 3, 0.411);
    width: 42px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]:focus {
    outline:none;
}

.icons {
    display: flex;
    position: absolute;
    left: 87.1%;
    top: 20px;
}
.style-icon {
    cursor: pointer;
    font-size: 1.3em;
    letter-spacing: 10px;
    list-style: none;
    color: rgb(200,200,200);
}
/* Sección menu desplegable */
nav {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    background-color: white;
    height: 62px;
}

nav ul {
    display: flex;
    padding-left: 1rem;
    list-style: none;
    width: 100%;
}

nav>ul>li {
    display: flex;
    float: left;
    line-height: 26px;
    text-align: center;
    list-style: none;
    padding-left: 18.2px;
}

li {
    position: relative;
}

nav>ul li:hover {
    cursor: pointer;

}

.rosa {
    position: relative;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #27251f;
    text-decoration: none;
}

.rosa:hover {
    border-bottom: 2px solid rgb(255, 192, 203);
}
#x {
    flex-direction: column;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
    rotate: 90deg;
    font-size: 8px;
    color: #3f3f40;
}
.Primer {
    position: relative;
    width: 103px;
    height: 26px;
    background-color:rgb(197, 0, 62);
    display: flex;
    float: left;
    align-items: center;
}
.Primer-span {
    position: relative;
    left: 3px;
    font-size: 14px;
    color:white;  
    font-weight: 700;
    text-transform: uppercase;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
.rojo {
    font-weight: 700;
    text-transform: uppercase;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    text-decoration: none;
    color: rgb(197, 0, 62);
}

.box-rosa {
    width: 100%;
}

.box-rosa-promo {
    background-color: rgb(255, 192, 203);
    color: #27251f;
    text-align: center;
    height: 40px;
    position: relative;
}

.box-rosa-span {
    display: flex;
    width: 72%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    position: relative;
    right: 55px;
    font-weight: 100;
    font-size: 16px;
    width: 70%;
    padding: 0 1.5rem;
}

.ver-mas {
    cursor: pointer;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    color: #27251f;
    font-weight: 700;
    font-size: 17px;
}

.text-r {
    display:flex;
    position: relative;
    bottom: 15px;
    right: 52px;
    color: #27251f;
}
.barra-1 {
    top: 15px;
    position: relative;
    left: 63.1%;
    background-color: #FFF;
    width: 16.6%;
    height: 10px;
    border-radius: 10px 10px 10px 10px;
}

.barra-2 {
    position: relative;
    width: 5px;
    background-color: black;
    height: 10px;
    border-radius: 20px 10px 10px 20px;
}

.text-r1 {
    display:flex;
    position: relative;
    bottom: 35px;
    left: 297px;
    color: #27251f;
}

.box-carousel {
    margin-top: 8px;
    width: 400%;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
  }
  .box-carousel-1 {
    left: 0;
  }
  .box-carousel-2 {
    left: -100%;
  }
  .box-carousel-3 {
    left: -200%;
  }
  .box-carousel-4 {
    left: -300%;
  }
  .carousel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: calc(100vh - 394px); */
  }
  .box-img-carousel {
    height: calc(100% - 25px);
    width: 25%;
  }
  .img-carousel {
    display: flex;
    position: relative;
    left: 246px;
    width: 74%;
    /* height: 100%; */
    object-fit: cover;
  }
  .icon-chevron-left, .icon-chevron-right {
    font-size: 1.7em;
    color: pink;
    position: fixed;
    top: 437px;
  }
  .icon-chevron-left {
    left: 10px;
  }
  .icon-chevron-right {
    right: 10px;
  }  
/* terminos y condiciones */
.TyC-promo {
    list-style: none;;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-inline: auto;
    font-size: 16px;
}

.text-pp {
    display: flex;
    border-bottom: 1px solid #000;
    cursor: pointer;
    color: #000;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.amoryamistad {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
}

.aya {
    display: flex;
    color: #3f3f40;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: none;
    letter-spacing: 0;
}
.aya-p {
    color: #3f3f40;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
}

.main-box {
    width: 100%;
    height: 572px;
    display: flex;
    justify-content: center;
}

.box-style {
    width: 300px;
    background-color: rgb(246,246,246);
    padding-top: 0.5px;
    margin: 0px 3px;
}

.product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.img-colgante {
    width: 250px;
    height: 250px;
}

.product-text {
    text-align: center;
}

.product-text-span {
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(64, 64, 64, .9);
}

.price-text {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    display: flex;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.text-description-1 {
    display: block;
    text-align: initial;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
}

.price-tex1-color {
    color: rgb(240, 184, 185);
    font-weight: 700;
}

.add-cart-1-color {
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-color: rgb(240, 184, 185);
}

.add-cart-1-span {
    color: black;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 14px;
}

.text-description-2 {
    padding-bottom: 15px;
    display: block;
    text-align: initial;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
}

.add-cart-2-color {
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-color: rgb(240, 184, 185);
}

.add-cart-2-span {
    color: black;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 14px;
}

.text-description-3 {
    padding-bottom: 15px;
    display: block;
    text-align: initial;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
}

.add-cart-3-color {
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-color: rgb(240, 184, 185);
}

.add-cart-3-span {
    color: black;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 14px;
}

.text-description-4 {
    display: block;
    text-align: initial;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
}

.add-cart-4-color {
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-color: rgb(240, 184, 185);
}

.add-cart-4-span {
    color: black;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 14px;
}

.text-description-5 {
    padding-bottom: 32px;
    display: block;
    text-align: initial;
    margin-left: 10px;
    color: rgb(64, 64, 64);
    font-size: 14px;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 700;
}

.add-cart-5-color {
    width: 280px;
    height: 40px;
    display: flex;
    position: relative;
    top: 110px;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-color: rgb(240, 184, 185);
}

.add-cart-5-span {
    color: black;
    font-weight: 700;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 14px;
}


