* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 400vh;
    width: 1900px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.logo-pandora {
    width: 130px;
}

.svg-search {
    width: 17px;
    padding: 10px 10px;
}

.div-search {
    width: 300px;
    height: max-content;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid black;
}

.input-search {
    border: unset;
    padding: 5px 15px 5px 0px;
}

.input-search:focus {
    outline: none;
}

.icon-lupa {
    width: 30px;
    fill: rgb(0, 0, 0);
}

.div-icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-icons {
    display: flex;
    width: max-content;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

.icons {
    width: 20px;
}

.div-search-icons {
    display: flex;
}

.search {
    padding: 10px 20px 10px 80px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid rgb(242, 171, 168);
}

nav ul {
    display: flex;
    list-style: none;
    height: max-content;
    align-items: center;
    margin-left: 30px;
    height: 70px;

}

a,
h4 {
    display: block;
    padding: 5px 0px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: max-content;
}

.arma-tu-set {
    background-color: rgb(197, 0, 62);
    color: white;
    padding: 5px 10px;
}

.last-chance {
    color: red;
}

nav ul li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-chevron-nav {
    width: 10px;

}

nav ul li {
    word-break: break-all;
}

li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-menu {
    display: flex;
    position: absolute;
    width: calc(100% - 100px);
    top: 100%;
    left: 0;
    padding: 0px 50px;
    border-bottom: 2px solid rgb(169, 169, 169);
    gap: 90px;
    display: none;
    background-color: white;
}

.div-section-items {
    width: max-content;
}

.item-section-h4 {
    font-size: 1.3em;
}

nav ul li>a:hover {
    border-bottom: 2px solid rgb(242, 171, 168);
    margin-top: 12px;
}

nav ul li:hover .items-menu {
    display: flex;
}

.oferta {
    background-color: rgb(255, 192, 203);
}

.barra-oferta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-range {
    width: 300px;
}

.oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.h6-oferta {
    font-size: 1.1em;
    font-weight: 100;
}

.ver-mas {
    font-weight: 700;
    font-size: 1.2em;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 15px;
    padding: 0;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    border-radius: 100%;
    height: 15px;
    padding: 0;
    width: 15px;
    cursor: pointer;
}

.contenido {
    padding: 8px 0px 0px 0px;

}

.div-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.div-carrusel {
    height: 410px;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.div-img-slider {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgSlider {
    width: 1100px;
    height: 100%;
}

.icon-chevron-left,
.icon-chevron-right {
    width: 40px;
    fill: pink;
    cursor: pointer;
    padding: 10px;
    background-color: antiquewhite;
}

.icon-chevron-left {
    rotate: 90deg;
}

.icon-chevron-right {
    rotate: -90deg;
}

.content-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-of-thrones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terminos {
    text-decoration: underline;
    cursor: pointer;
}

.div-items-catalogo {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.item-catalogo {
    width: calc(100% - 20px);
    padding: 10px 10px;
    background-color: rgb(246, 246, 246);
}

.img-item-catalogo {
    width: 100%;
}

.div-img-item-catalogo-footer {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-footer-item-catalogo {
    width: 200%;
}

.comprar-ahora-item-catalogo {
    background-color: rgb(255, 202, 212);
    width: 100%;
    padding: 8px 0px;
    border: unset;
    font-size: 1em;
    cursor: pointer;
}

.div-precio-item-catalogo {
    text-align: center;
}

.div-descripcion-item-catalogo {
    margin-bottom: 60px;
}

.h4-title-item-catalogo {
    margin: unset;
}

.div-precio-item-catalogo {
    font-size: 1.3em;
}

.div-icon-heart-item-catalogo {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: 10px;
    margin-right: 20px;
}

.div-img-item-catalogo {
    margin: 20px 0px;
}

.fa-heart {
    color: pink;
    font-size: 1.7em;
}

.title-main-item-catalogo {
    font-size: 1.8em;
    margin: 40px 0px 40px 0px;
    font-weight: 600;
}

.div-section-items a {
    font-weight: lighter;
    padding: 3px;
}

.anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding: 5px 0px;
}

.ver-ahora {
    color: pink;
    text-decoration: underline;
    margin-left: 5px;
}

.div-img-descubre-pandora {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.descubre-pandora {
    display: grid;
    grid-template-columns: 1fr auto;
}

.sesion-especial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.content-img-descubre-pandora {
    padding: 0px 22px 22px 25px;
    background-color: rgb(246, 246, 246);
    width: 80px;
    cursor: pointer;
}
.content-img-descubre-pandora:hover{
    transition: all 0.5s;
    box-shadow: 0px 6px 30px 0px rgb(228, 228, 228);;
}
.content-sesion-especial {
    width: 80%;
    height: max-content;
}

.img-descubre-pandora {
    width: 100%;
}

.title-img-descubre-pandora {
    border-bottom: 1px solid pink;
    padding: 0px 0px 10px 0px;
    text-align: center;
    font-size: 1.3vh;
}
.img-content-descubre-pandora{
    width: 100%;
    height: 20%;
    overflow: hidden;
}
.info-descubre-pandora{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h5-descubre-pandora{
    font-size: 1.7em;
    font-weight: 600;
}
.h6-descubre-pandora{
    font-weight: 500;
    font-size: 0.8em;
}
.img-descubrir{
    width: 170px;
}
.img-iroman{
    width: 190px;
}
.div-img-section-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.div-img-descubrir{
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}
.h6-descubrir-img{
    font-size: 1em;
}
.input-descubrir-img{
    border: unset;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 1px solid pink;
    cursor: pointer;
}
.div-descubrir{
    padding-bottom: 40px;
}