* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template: "logo menu" 1fr /
     835px    1fr;
}
.header-2 {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template: "logo menu" 1fr /
     1400px    1fr;
}
.logo-pandora {
    grid-area: logo;
    width: 100%;
    height: 100%;
}
.img-logo {
    cursor: pointer;
    display: flex;
    width: 120px;
    position: relative;
    left: 80px;
}
.style-box {
    display: flex;
    align-items: center;
}
.buscador {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    box-sizing: border-box;
    /* padding: 10px; */
}
.input-busqueda {
    cursor: pointer;
    position: relative;
    left: 387px;
    height: 40px;
    width: 390px;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
}
input[type="text"].buscador {
    height: 40px;
    width: 300px;
    padding: 10px 20px;
    border: none;
}
.lupa {
    color: rgba(3, 3, 3, 0.644);
    width: 42px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"]:focus {
    outline:none;
}
.style-icon {
    cursor: pointer;
    font-size: 1.3em;
    display: flex;
    position: relative;
    left: 410px;
    letter-spacing: 25px;
    list-style: none;
    color: rgb(200,200,200);
}

a {
    font-weight: 600;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    text-decoration: none;
    color: #3f3f40;
}
nav>ul>li {
    width: 100px;
    height: 100px;
    float: left;
    font-size: 1.1rem;
    line-height: 70px;
    text-align: center;
    list-style: none;
}
/* .menu {
    text-decoration: none;
} */
li {
    position: relative;
    
}
.box-main-menu {
    font-size: 14px;
    height: auto;
    width: 100%;
    text-align: left;
    font-family: PD,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    padding-left: 2rem;
}
.main-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
}
.main-menu li {
    list-style: none;
    padding: 0 20px;
}
.first {
    font-size: 14px;
    color: #c5003e;
}
.first-li {
    font-size: 14px;
    font-weight: 700;
    margin-top: -4px;
    /* width: 150px; */
    background-color: #c5003e;
    color: white;
    padding: 4px 8px;
}
#x {
    align-items: center;
    rotate: 90deg;
    margin-left: 5px;
    font-size: 11px;
    color: #3f3f40;
}