*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 112px;
    border-bottom: 1px solid gray;
}

.header-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 112px;
    justify-content: space-between;
}

.header-items {
    display: flex;
    width: 400px;
    list-style: none;
    padding-left: 24px;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}

.a-items {
    color: orange;
}

.header-avatar-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cart {
    position: relative;
}

.header-avatar {
    width: 34px;
    height: 34px;
}
.main-content {
    display: grid;
    grid-template:"empty-left box-left empty-center box-info empty-right" 400px /
                    240px        1fr      180px        1fr     240px;
}
.box-left {
    grid-area: box-left;
    grid-template: "box-img"
                    "box-thumbnail" /
                    1fr;
}
.box-img {
    grid-area: box-img;
}

.main-img {
    width: 100%;
    border-radius: 20px;
}

.box-thumbnail {
    grid-area: box-thumbnail;
    display: grid;
    grid-template: "thumb-1 thumb-2 thumb-3 thumb-4" /
                    1fr     1fr     1fr      1fr
}

.thumb-1 {
    grid-area: thumb-1;
}
.thumb-2 {
    grid-area: thumb-2;
}
.thumb-3 {
    grid-area: thumb-3;
}
.thumb-4 {
    grid-area: thumb-4;
}
.thumb {
    width: 100%;
    border-radius: 30px;
    padding: 15px;
}
.box-info {
    grid-area: box-info;
}
