* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 15;
    width: 100%;
    display: grid;
    grid-template: "empty-left main-logo empty-center box-main-menu empty-right"  140px /
                       140px      1fr        3fr          3fr       40px;
}
.main-logo {
    grid-area: main-logo;
}
.img-logo {
    padding: 30px 0 0 100px;
}
.box-main-menu {
    grid-area: box-main-menu;
}
.main-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 150px;
}
.main-menu > li > a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    display: block;
    margin: 0 30px;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.main-circle {
    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    position: fixed;
    top: 280px;
    right: -950px;
    z-index: -1;
}
.main-circle-green{
    background-color: rgb(2, 104, 64);
}
.main-circle-light-pink{
  background-color: rgb(230, 112,147);
}
.main-circle-dark-pink{
  background-color: rgb(194, 73, 199);
}
h1 {
   font-size: 4em;
   font-family: 'Poppins', sans-serif; 
   font-weight: 500;
}
.title-color {
   color: rgb(2, 104, 64);
   font-family: 'Poppins', sans-serif;
   font-size: 1.4em;
   font-weight: 700;
}
.main-content {
    margin-top: 250px;
    display: grid;
    grid-template:"empty-left product-text empty-center product-img empty-right" 140px /
                       140px        3fr       3fr         3fr       40px;
}
.product-text {
    grid-area: product-text;
    
}
.description-text {
    color: rgb(96, 96,93);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.button-learn {
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(2, 104, 64);
    color:white;
    font-weight: 700;
    text-align: center;
    border: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    transition: 0.1s;
}
.button-learn:hover {
    cursor: pointer;
    color: rgb(2, 104, 64);
    background-color: #000;
    transform: scale(0.8)
}
.product-img {
    padding-left: 50px;
    z-index: 10;
    grid-area: product-img;
}
.redes-links {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    right: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    right: 25px;
}
.redes-links a {
    color: #fff;
    font-size: 25px;
    transition: 0.4s;
}
.redes-links a:hover {
    transform: scale(1.4);
}

.box-img {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 760px;
    gap: 25px;
    z-index: 10;
    transition: 0.5s;
    list-style: none;
}

.style-img-mini {
  z-index: 20;
  position: relative;
  transition: all 600ms;
  top: 0;
}

.style-img-mini:hover {
  cursor: pointer;
}

.mini-green:hover{
  top: -30px
}

.mini-light-pink:hover{
  top: -30px
}

.mini-dark-pink:hover{
  top: -30px
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }