@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&family=Roboto:wght@100;300;400;500;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #242639;
    color: #fff;
}
.logo{
    width: 50px;
    border-radius: 100%;
}

.foto {
    position:relative;
    width: 245px;
    bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}
header{
    background-color: #285AE5;
    padding: 20px;
}

header .contenido{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contenido nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}
header .contenido nav a:hover{
    color: #242639;
}
/*S.inicio*/
section{
    max-width: 1100px;
    margin: auto;
    height: 90vh;
    position: relative;
    padding: 0 30px;
}
#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inicio h2{
    color: #285AE5;
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 35px;
}
#inicio p{
    width: 300px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.btn{
    background-color: #285AE5;
    color: #fff;
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px;
    width: fit-content;
    text-align: center;
    cursor: pointer;  
}
/*S.habilidades*/
#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    color: #285AE5;
    font-size: 30px;
    margin-bottom: 10px;
}
#habilidades hr{
    width: 50px;
    border: 2px solid #285AE5;
    margin-bottom: 10px;
}
#habilidades .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#habilidades .fila .col{
    width: 30%;
    background-color: #2b2d41;
    border-radius: 20px 20px 20px 20px;
    padding: 25px;
}
#habilidades .fila .col i{
    color: #285AE5;
    font-size: 20px;
    margin-bottom: 10px;
}
#habilidades .fila .col h3{
    font-size: 15px;
    margin-bottom: 10px;
}
#habilidades .fila .col p{
    font-size: 12px;
    line-height: 20px;
}
/*S.contacto*/
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacto hr{
    width: 50px;
    border: 2px solid #285AE5;
    margin-bottom: 10px;
}
#contacto form{
    max-width: 500px;
}
#contacto form .entrada{
    width: 100%;
    border: none;
    background-color: #2b2d41;
    padding: 25px;
    margin-bottom: 20px;
    outline: none;
    font-size: 18px;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
}
#portafolio {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#portafolio hr{
    width: 50px;
    border: 2px solid #285AE5;
    margin-bottom: 10px;
}
#portafolio .fila {
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
}
#portafolio .fila .proyecto {
    border-radius: 20px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
#portafolio .fila .proyecto:hover {
    transform: scale(1.1);
}
#portafolio .fila .proyecto img {
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portafolio .fila .proyecto:hover img {
    filter: grayscale(0);
}
#portafolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0, .7);
    color: #fff;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portafolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
footer{
    background-color: #285AE5;
    text-align: center;
    padding: 20px;
}
.indicador{
    position: absolute;
    right: 0;
    padding-right: 0;
}
.indicador .selector{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #474853;
}
.indicador .linea{
    width: 1px;
    margin: auto;
    background-color: #474853;
    height: 30px;
}
.pintado{
    background-color: #285AE5;
}
.responsive{
    display: none;
}
/*S.responsive*/
@media screen and (max-width:960px){
    section{
        height: auto;
    }
    .responsive{
        display: block;
    }
    .no-responsive{
        display: none;
    }
    #inicio{
        margin-top: 50px;
    }
    #habilidades{
        margin-top: 50px;
    }
    #habilidades .fila{
        display: block;
        margin-bottom: 10px;
    }
    #habilidades .fila .col{
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    #contacto .btn{
        margin-top: 50px;
        margin-bottom: 10px;
    }
    #portafolio .fila .proyecto{ 
        margin: auto; 
        flex-direction: column;
        justify-content: center;    
    }
    #portafolio .fila {
        display: block;
        margin-bottom: 30px;
        margin: 0 10px;
    }
}